ul {
    list-style: none;
}

.user-title{
    margin-left: 1em;
}
mat-card {
    margin: 10px;
    width:300px;
}

img {
    width: 80px;
    height: 80px;
    margin-top: 50px;

}

mat-card-title{
    margin-left: -80px;
}

mat-card-subtitle{
    margin-left: -80px;
}

mat-card-content{
    margin-top: 20px;
    margin-left: 10px;
}