@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --app-background-color: #f6f6f6;
    --app-primary-color : red;
}
body{
    background-color: var(--app-background-color);
}
